@model Message

<form asp-action="PostMessage" method="post">
    <div class="mb-3">
        <input name="userId" value="@ViewData["userId"]" hidden />
        <label for="exampleFormControlTextarea1" class="form-label">Введіть повідомлення</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
        <input class="btn btn-outline-primary" type="submit" value="Надіслати" />
    </div>
</form>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button data-url="@Url.Action("Get10UserMessages")" data-user="@ViewData["userId"]" class="btn btn-outline-warning" id="show10UseMessages">Показати повідомлення користувача</button>
    <button data-url="@Url.Action("Get20UsersMessages")" type="button" class="btn btn-outline-success" id="show20UsersMessages">Показати повідомлення всіх користувачів</button>
</div>

<div id="result"></div>

