@model IEnumerable<Message>

<form asp-action="PostMessage" method="post">
    <div class="mb-3">
        <input name="userId" value="@ViewData["userId"]" hidden />
        <label for="exampleFormControlTextarea1" class="form-label">Введіть повідомлення</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
        <input class="btn btn-outline-primary" type="submit" value="Надіслати" />
    </div>
</form>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-outline-warning">Показати повідомлення користувача</button>
    <button type="button" class="btn btn-outline-success">Показати повідомлення всіх користувачів</button>
</div>

<div class="table">
    <thead>
    <tr>
        <th>Айді користувача</th>
        <th>Текст повідомлення</th>
        <th>Дата створення</th>
    </tr>
    </thead>
    <tbody>
    @* @foreach (var message in Model)
    {
        <tr>
            <td>@message.UserId</td>
            <td>@message.Text</td>
            <td>@message.TimeOfCreation</td>
        </tr>
    } *@
    </tbody>
</div>